// Adapted from https://v4-alpha.getbootstrap.com/examples/sticky-footer/
footer.footer.bg-dark.text-white
  div.container
    span Cody Smith &middot; CMU-SV &middot; S18 &middot; FSE &middot; Pre-Registration Assignment
