// Adapted from https://v4-alpha.getbootstrap.com/examples/sticky-footer/
footer.footer.bg-dark.text-white
  div.container
    p Cody Smith &middot; CMU-SV Spring 2018 Foundations of Software Engineering Pre-Registration Programming Assignment

      
