extends layout

block content
  div#app.row
    div.col-md-2
    div.col-md-8
      div.card.mt-4.message-card
        div.card-header Messages
        div.card-body
          div#message-comp
            div.message-body(v-for="item in items")
              div.user.bg-primary {{ item.username }}
              div.message {{ item.content }}
              div.time.text-muted {{ item.time }}
          div.message-entry
            input.form-control.form-control-lg(type="text" placeholder="Message" v-model="messages" v-on:keyup="postMessage")
    div.col-md-2
      
block scripts
  script(src="https://unpkg.com/axios/dist/axios.min.js")
  script(src='/js/app.js')
      
