extends layout

block content
  div.row
    div.col-md-8
      div.card.mt-4.message-card
        div.card-header Messages
        div.card-body#message-comp
          div.message-body(v-for="item in items")
            div.user.bg-primary {{ item.author }}
            div.message {{ item.text }}
            div.time.text-muted {{ item.timestamp }}
          div.message-entry
            input.form-control.form-control-lg(type="text" placeholder="Message")
          
    div.col-md-4
      div.card.mt-4
        div.card-header Who's Online
        div.card-body
          table.table
            tbody
              tr#online
                td Mark
      div.card.mt-4
        div.card-header How To Use
        div.card-body
          h4.card-title Special title treatment
          p.card-text With supporting text below as a natural lead-in to additional content.
          a.btn.btn-primary(href='#') Go somewhere
      
