/* From https://v4-alpha.getbootstrap.com/examples/sticky-footer/sticky-footer.css */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0;
  margin: 0;
}

.message-body {
  margin-bottom: 15px;
  border-radius: 15px;
  font-size: 12pt;
  line-height: 30px;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.message-body .message {
  flex-grow: 1;
  padding: 0 15px;
}

.message-body .user {
  border-radius: 15px;
  color: #fff;
  padding: 0 15px;
}

.message-body .time {
  padding: 0 15px;
}
